* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    display: flex;
    padding: 20px;
}

/*styles for form*/

.form {
    display: flex;
    flex-direction: column;
    align-items: end;
    flex: 2;
}

select {
    width: 50%;
    height: 40px;
    margin: 0 0 20px;
    border: 1px solid orange;
}

select:focus {
    outline: none;
}

.btn_submit {
    width: 20%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: orange;
    color: #fff;
}

/*styles for list*/

.list {
    flex: 3;
}

.block {
    border: 1px solid #000;
    min-height: 130px;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 60px solid;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.square {
    width: 60px;
    height: 60px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /*background-color: black;*/
}

.parallelogram  {
    width: 110px;
    height: 60px;
    transform: skew(20deg);
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /*background: red;*/
}

.trapezoid {
    height: 0;
    width: 100px;
    border-bottom: 80px solid;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/*animation*/
@keyframes toTheRight {
    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(350deg);
    }
}

@keyframes toTheLeft {
    25% {
        transform: rotate(-90deg);
    }

    50% {
        transform: rotate(-180deg);
    }

    75% {
        transform: rotate(-270deg);
    }

    100% {
        transform: rotate(-350deg);
    }
}